<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://kealan-unhurd20230123150501.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e08d43bc-c9c9-4bd2-9e6c-b88b4d55669f/resourcegroups/kealanunhurd/providers/Microsoft.Web/sites/Kealan-Unhurd20230123150501</ResourceId>
    <UserName>$Kealan-Unhurd20230123150501</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://kealan-unhurd20230123150501.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>